
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #fafafa;
}

.everything {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.left {
  background-image: url("https://photon-science.desy.de/sites/site_photonscience/content/e58/e272539/2020-08-11_LF_Beschleuniger_RS-0336_a1_eng.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;     
  justify-content: center; 
}

.left::before {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.left::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.logo {
  position: relative;
  width: 185px;
  height: auto;
  z-index: 2;
  left: 50%;
  transform: translate(0, -100%);
  left: 170px;
}

.right {
  display: grid;
  grid-template-rows: 50% 30% 20%;
  height: 100%;
  background-color: #ffffff;
  justify-items: center;
  align-items: center;
  padding: 70px;
}

.motive {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;    
  text-align: center;      
  padding: 0 40px;
  background-color: rgb(255, 255, 255);
}


.motive h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;               
  background-color: #298ee1ac;    
  padding: 10px 20px;             
  border-radius: 0px;             
  display: inline-block;         
  margin-bottom: 55px;

}


.motive p.intro {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000e4;
  margin: 0;
  text-align: justify;         
  width: 100%;     
  margin-bottom: 25px;         
}

.motive p.apply {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000e4;
  margin: 0;
  text-align: justify;         
  width: 100%;  
  margin-bottom: 65px;            
}


.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 20px;
  background-color: rgb(255, 255, 255);
  padding: 40px 90px;
  border-radius: 0;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

#create-account, 
#account {
  background-color: #ade8fa;         
  color: white;
  border: none;
  border-radius: 50px;             
  padding: 14px 40px;              
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(189, 225, 245, 0.4);
}

#account:hover {
  background-color: #5ea9ff;         
  box-shadow: 0 6px 14px rgba(52, 156, 248, 0.6);
  transform: translateY(-3px);      
}

#account:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(215, 219, 223, 0.141);
}

a {
  color: #00000033;          
  text-decoration: none;   
  font-weight: 600;        
}

a:hover {
  color: #5ea9ff;          
  text-decoration: none;   
}


input {
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  border: 1px solid #bbe8e5;      
  border-radius: 25px;             
  font-size: 15px;
  border-radius: 0;
  border-color: #ffffff;
  background-color: #e4fffd;      
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(79, 121, 175, 0.1);
}

input:hover {
  border-radius: 0;
  border-color: #bbe8e5;
  box-shadow: 0 4px 10px rgba(92, 255, 247, 0.644);
  background-color: #8ae3fe84;
}

input:focus {
  border-color: #ffffff;
  background-color: #bacacf;
  border-radius: 0;
  box-shadow: 0 0 8px rgba(132, 219, 243, 0.4);
}


input::placeholder {
  color: #006fb44f; 
  opacity: 0.8;
}


#create-account, 
#account,
#login-btn {
  background-color: #ade8fa;         
  color: white;
  border: none;
  border-radius: 50px;             
  padding: 14px 40px;              
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(189, 225, 245, 0.4);
}

#account:hover,
#login-btn:hover {
  background-color: #5ea9ff;         
  box-shadow: 0 6px 14px rgba(52, 156, 248, 0.6);
  transform: translateY(-3px);      
}

#account:active,
#login-btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(215, 219, 223, 0.141);
}
