.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex;
/*flex is one dimensional and grid is two dimensional. display: grid sets the display as a grid and items in it can be aligned simultenously*/
  align-items: center;
  justify-content: center;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}